{% extends "base.html" %}
{% block title %}Chains{% endblock %}
{% block content %}
    {% if session.get("user") is none %}
        <div class="container text-center">
            <br/>
            <h1>You are not logged in yet</h1>
            <br/>
            <p>
                Click <a href="{{ url_for('auth.login') }}">here</a> to log in or <a href="{{ url_for('auth.sign_up') }}">here</a> to sign up.
            </p>
        </div>
    {% else %}
        {% if delete_failed %}
            <div class="alert alert-danger" role="alert">
                <strong>Failed to delete chain!</strong>
            </div>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Chain ID</th>
                    <th>Chain Name</th>
                    <th>Number of Hotels</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for chain in chains %}
                    <tr>
                        <td>
                            {% if session.get("user").get("type") == "customer" %}
                                <form action="{{ url_for('views.delete_chain', chain_id=chain[0]) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-light btn-sm disabled" disabled>x</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('views.delete_chain', chain_id=chain[0]) }}"
                                      method="post">
                                    <button type="submit" class="btn btn-light btn-sm">x</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>{{ chain[0] }}</td>
                        <td>{{ chain[1] }}</td>
                        <td>{{ chain[2] }}</td>
                        <td>
                            {% if session.get("user").get("type") == "customer" %}
                                <form id="view-hotel-chain-{{ chain[0] }}"
                                      action="{{ url_for('views.hotels', chain_id=chain[0]) }}"
                                      method="get">
                                    <button form="view-hotel-chain-{{ chain[0] }}"
                                            type="submit"
                                            class="btn btn-dark">Hotels</button>
                                </form>
                            {% else %}
                                <form id="edit-chain-{{ chain[0] }}"
                                      action="{{ url_for('views.edit_chain', chain_id=chain[0]) }}"
                                      method="get">
                                    <button form="edit-chain-{{ chain[0] }}" type="submit" class="btn btn-dark">Edit</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
