{% extends "base.html" %}
{% block title %}Chains{% endblock %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Chain ID</th>
                <th>Chain Name</th>
                <th>Number of Hotels</th>
            </tr>
        </thead>
        <tbody>
            {% for chain in chains %}
                <tr>
                    <td>{{ chain[0] }}</td>
                    <td>{{ chain[1] }}</td>
                    <td>{{ chain[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
