{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <hr/>
        <h1 class="text-center">Welcome to the eHotels Portal</h1>
        <hr/>
        <div class="card text-center w-50">
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td class="text-left">Course</td>
                        <td class="text-left">CSI 2132 - Databases I</td>
                    </tr>
                    <tr>
                        <td class="text-left">Group</td>
                        <td class="text-left">77</td>
                    </tr>
                    <tr>
                        <td class="text-left">Name</td>
                        <td class="text-left">Matthew Sia</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
